.clients {

	.container {
		max-width: 1200px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 80px 0;
	}

	&__left {
		width: 35%;
	}

	&__right {
		width: 60%;
	}

	&__title {
		max-width: 390px;
		margin-bottom: 20px;
		color: #1e262c;
		font-size: 30px;
		line-height: 40px;
		text-transform: uppercase;
	}

	&__text {
		max-width: 370px;
		color: #1e262c;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 25%;
	}

	&__item {
		position: relative;
		height: 100%;
		margin-bottom: 20px;

		a {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
		}

		&:hover {

			.clients__image {
				img {
					filter: grayscale(0);
				}
			}
		}
	}

	&__image {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 70%;
			filter: grayscale(100%);
		}

		&_hoff {

			img {
				max-width: 50%;
			}
		}
	}

	&__more {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		color: #56595b;
		font-size: 16px;
		line-height: 18px;
	}

	@media (max-width: $screen-md) {

		&__wrapper {
			flex-wrap: wrap;
			padding-bottom: 67px;
		}

		&__title {
			max-width: initial;

		}

		&__left,
		&__right {
			width: 100%;
		}

		&__left {
			margin-bottom: 20px;
		}

		&__text {
			max-width: initial;
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {
		&__wrapper {
			padding: 50px 0;
		}
	}

	@media (max-width: $screen-xs-max) {
		&__wrapper {
			padding: 30px 0;
		}

		&__col {
			width: 33.33%;
		}
	}

	@media (max-width: 450px) {
		&__col {
			width: 50%;
		}
	}
}