.why {
	margin-bottom: 55px;

	.container {
		max-width: 1600px;
	}

	&__image {
		text-align: center;

		img{
			width: 100%;
			height: 100%;
		}
	}

	&__block {
		position: absolute;
		top: 0;
		left: 140px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		text-align: center;
		width: 24%;
		max-width: 382px;
		padding: 0 45px;
		background: #fff;
		z-index: 3;
	}

	&__title {
		margin-bottom: 35px;
		color: #1e262c;
		font-size: 30px;
		line-height: 40px;

		text-transform: uppercase;
	}

	&__text {
		color: #1e262c;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
	}

	@media (max-width: $screen-md) {

		margin-bottom: 0;
		.container{
			width: 100%;
		}

		&__block {
			position: static;
			padding: 21px 60px;
			padding-bottom: 100px;
			width: auto;
		}

		&__title{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {
		padding-top: 50px;
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 30px;
	}
}