<div class="why">
	<div class="swiper swiper_why">
		<div class="swiper-container js-swiper-why">
			<div class="swiper-wrapper">
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Почему" data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, neque!">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-4.jpg" alt="">
						</div>
					</div>
				</div>

				<!-- end swiper-slide-->

				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Почему у нас стоит работать?" data-text="Нужный текст">

					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-3.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->

				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-5.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-6.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-7.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-8.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-9.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->

				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-11.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-12.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-13.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-14.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-15.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-16.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-17.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-18.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->
				<!-- start swiper-slide-->
				<div class="swiper-slide" data-title="Lorem ipsum dolor sit amet?" data-text="Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам">
					<div class="why__item">
						<div class="why__image">
							<img src="{{src}}why-image-19.jpg" alt="">
						</div>
					</div>
				</div>
				<!-- end swiper-slide-->

			</div>
			<div class="swiper-button-prev swiper_why-prev"></div>
			<div class="swiper-button-next swiper_why-next"></div>
		</div>


		<!--start why__block-->
		<div class="why__block">
			<div class="swiper-pagination"></div>
			<div class="why__title js-why-title">
				Почему у нас стоит работать?
			</div>
			<div class="why__text js-why-text">Мы 9 лет задаем тренды в маркетинге и дарим яркие эмоции команде и клиентам</div>
		</div>
		<!--end why__block-->
	</div>
</div>