<header class="header">

	<div class="container">

		<video class="header__video" preload="none">
			<source src="video/hr-video.mp4" type="video/mp4">
			<source src="video/hr-video.ogv" type="video/ogv">
			<source src="video/hr-video.webm" type="video/webm">
		</video>

		<div class="header__blocks">
			<!--start header__block-->
			<div class="header__block">
				{% include 'logo/global/logo.html' %}
			</div>
			<!--end header__block-->

			<!--start header__block-->
			<div class="header__block">
				<!-- start  header__contacts -->
				<div class="header__contacts">
					<a class="header__phone" href="tel:+74952151097">+7 495 215 10 97</a>
					<a class="header__email" href="mailto:hr@medianation.ru">hr@medianation.ru</a>
				</div>
				<!-- end  header__contacts -->
			</div>
			<!--end header__block-->

			<!--start header__block-->
			<div class="header__block">
				<button class="hamburger" id="js-hamburger" aria-expanded="false">
					<span class="hamburger__screen-reader-text">Меню</span>

				</button>
				{% include 'menu/menu-header/menu-header.html' %}

			</div>
			<!--end header__block-->
		</div>
		
		<!--start header__promo-->
		<div class="header__promo">
			<div class="header__title">Построй своё будущее <br>с Medianation!</div>

			<a class="header__watch" href="#">
				<span class="icon icon_play"></span>Смотреть
			</a>
		</div>
		<!--start header__promo-->

		<!--start down-->
		<a href="#clients" class="down js-scroll"> <span class="icon icon_down"></span></a>
		<!--end down-->
	</div>

</header>