.header {
	position: relative;
	padding-top: 20px;
	min-height: 100vh;
	background-image: url(header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	.container{
		width: 100%;
		padding: 0 25px;
	}


	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__block {

		.wrapper.video-pause & {
			z-index: 1;
		}
	}

	&__phone,
	&__email {
		color: #fff;
		font-size: 18px;
		line-height: 54px;
		opacity: 0.8;

		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}

	&__email {
		margin-left: 50px;
		text-decoration: underline;
	}

	&__promo {
		position: absolute;
		width: 100%;
		left: 50%;
		top: 60%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;

		.wrapper.video-pause & {
			z-index: 2;
		}
	}

	&__title {
		color: #fff;
		font-size: 48px;
		line-height: 72px;
		text-transform: uppercase;
		padding: 0 20px;
	}

	&__watch {
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		line-height: 72px;
		text-transform: uppercase;

		.icon {
			margin-right: 15px;
		}
	}

	&__video {
		//временно

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		z-index: -1;

		&.active {
			z-index: 1;
		}

		.wrapper.video-pause & {
			z-index: 0;
		}
	}

	@media (max-width: $screen-md) {

		&__contacts {

		}

		&__block {
			&:nth-child(3) {
				text-align: right;
			}
		}

		&__phone,
		&__email {
			display: block;
			line-height: 1;
			text-align: center;
		}

		&__email {
			margin-top: 20px;
			margin-left: 0;
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {
		//min-height: 670px;

		&__block{
			&:nth-child(2){
				flex-grow: 1;
				padding-right: 19%;
			}
		}

		&__promo{
			top: 55%;
		}

		&__title{
			font-size: 36px;
			line-height: 58px;
		}
	}

	@media (max-width: $screen-xs-max) {
		//min-height: 470px;

		&__title{
			font-size: 30px;
			line-height: 1.4;
		}

	}

	@media (max-width: 455px) {
		&__block {
			&:nth-child(2) {
				display: none;
			}
		}
	}

}
