.features {

	&__items {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;

		&:nth-child(1),
		&:nth-child(6) {
			width: 44%;
		}

		&:nth-child(2),
		&:nth-child(5) {
			width: 25%;
		}

		&:nth-child(3),
		&:nth-child(4) {
			width: 31%;
		}

		&:hover {

			.features__desc {
				opacity: 1;
			}

			.features__text {
				left: 50%;
				top: 60%;
				transform: translateX(-50%) translateY(-50%);
			}

			.features__title {

				top: 40px;
				transform: translateX(-50%) translateY(0%);
			}
		}
	}

	&__image {
		height: 100%;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100%;
		text-align: center;
		color: #fafafa;
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		text-transform: uppercase;
		transition: top 0.3s;

	}

	&__desc {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		background: #292f37;
		transition: opacity 0.3s;
	}

	&__text {
		position: absolute;
		top: 100%;
		width: 100%;
		color: #fff;
		padding: 0 40px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		transition: top 0.3s;

		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@media (max-width: $screen-md) {
		.container {
			width: 100%;
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {

		&__item {

			&:nth-child(1),
			&:nth-child(6),
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(3),
			&:nth-child(4) {
				width: 50%;
			}

			&:hover {

				.features__title {
					top: 60px;
				}

				.features__text {
					top: 60%;
				}
			}
		}

	}

	@media (max-width: $screen-xs-max) {
		&__item {

			&:nth-child(1),
			&:nth-child(6),
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(3),
			&:nth-child(4) {
				width: 100%;
			}

			&:hover {

				.features__title {
					top: 30px;
				}

				.features__text {
					top: 0;
					transform: translate(0);
				}
			}
		}

		&__image {
			height: auto;
		}

		&__desc,
		&__text {
			position: static;
			opacity: 1;
			height: auto;
		}

		&__title{
			top: 30px;
			transform: translateY(0) translateX(-50%);
			padding-left: 5%;
			padding-right: 5%;
		}

		&__desc {
			padding: 20px 0;
		}
	}
}