.menu {
	transform: translateX(100%);
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	padding-top: 130px;
	transition: transform 0.3s;
	background-color: #141a1e;
	overflow: hidden;

	&.active {
		transform: translateX(0);
		transition: transform 0.3s;
		z-index: 10;
		min-height: 100vh;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 1000%;
			background-color: #182126;

		}
	}

	&__item + &__item {
		//margin-top: 10px;
	}
	&__item {

	}
	&__list {
		margin: 0;
		padding: 0;
		padding-bottom: 140px;
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}

	&__link {
		display: block;
		padding-left: 40px;
		font-size: 14px;
		font-weight: 700;
		line-height: 54px;
		text-transform: uppercase;
		color: #868c91;

		&:hover {
			color: #fff;
			text-decoration: none;
		}

		&_accent {
			color: $colorLink;
		}
	}

	&__contacts {
		background-color: #182126;
		color: #ffffff;
		padding: 50px 40px;
	}

	&__title {
		margin-bottom: 15px;
		color: #868c91;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	&__phone,
	&__email {
		display: block;
		color: #fff;
		font-size: 18px;
		line-height: 30px;
		opacity: 0.8;

		&:hover {
			text-decoration: none;
			opacity: 1;
		}

		.icon {
			margin-right: 15px;
		}
	}

	&__email {
		margin-bottom: 20px;
		text-decoration: underline;
	}

	&__address {
		max-width: 200px;
		color: #fff;
		font-size: 16px;
		line-height: 18px;
		opacity: 0.8;
	}

	@media (max-width: $screen-md) {
		text-align: left;
		overflow: visible;
		
		&__link {

		}

		transition: transform 0.3s;

		&.active{
			transform: translateX(400px);
			transition: transform 0.3s;
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 1000%;
				background-color: #182126;

			}
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {

	}

	@media (max-width: $screen-xs-max) {

		transition: transform 0.3s;

		&.active {
			transform: translateX(400px);
			transition: transform 0.3s;
		}

		&__list{
			padding-bottom: 50px;
		}
	}

	@media (max-width: 455px) {
		width: 100%;
		padding-top: 50px;

		&__list{
			padding-bottom: 0;
		}

		&__contacts{
			padding: 30px 40px;
		}
			}

}