{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">
		<div class="wrap js-wrap">

		{% include 'header/global/header2.html' %}

		<div class="middle">
			<div class="middle__container">

				<div class="content">
					<!-- WORKAREA -->

					<!--start clients-->
					{% include 'clients/clients.html' %}
					<!--end clients-->

					<!--start advantages-->
					{% include 'advantages/advantages.html' %}
					<!--end advantages-->

					<!--start why-->
					{% include 'why/why.html' %}
					<!--end why-->

					<!--start features-->
					{% include 'features/features.html' %}
					<!--end features-->

					<!--start partners-->
					{% include 'partners/partners.html' %}
					<!--end partners-->

					<!--start work-->
					{% include 'work/work.html' %}
					<!--end work-->

					<!--start jobs-->
					{% include 'jobs/jobs.html' %}
					<!--end jobs-->

					<!--start office-->
					{% include 'office/office.html' %}
					<!--end office-->

					<!--start resume-->
					{% include 'resume/resume.html' %}
					<!--end resume-->

					<!-- END WORKAREA -->
				</div>
				<!-- /.content -->

			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->
		</div>
	</div>
	<!-- /.wrapper -->
	<!--srart footer-->
	{% include 'footer/global/footer.html' %}
	<!--end footer-->

	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}

	<script>

		(function () {

			var video = $('.header__video');

			$('.header__watch').click(function (e) {

				e.preventDefault();
				e.stopPropagation();

				video.addClass('active');
				video[0].play();
				$('.wrapper').removeClass('video-pause');
			});

			video.click(function () {
				video[0].pause();
				$('.wrapper').addClass('video-pause');
			});

			video[0].addEventListener("webkitendfullscreen", function(){
				videoExitedFullscreen(video[0]);
			}, false);

			//function to be run when full screen is closed
			function videoExitedFullscreen(videoElement){

				//check if an element is currently full screen
				if(document.fullScreenElement || document.webkitIsFullScreen == true || document.mozFullScreen || document.msFullscreenElement ){

					//do whatever here if the video is now (just became) full screen
					video[0].play();

				} else {
					console.log('fullscreen was closed');

					//do whatever you want on fullscreen close, like pause or mute

					video[0].pause();
					video.removeClass('active');

					$('.wrapper').addClass('video-pause');
				}
			}

		})();

	</script>

</body>

</html>