.office {

	&__blocks {
		display: flex;
	}

	&__block {
		width: 50%;
	}

	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		padding: 40px 45px;
		padding-top: 75px;
		color: #fff;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		max-width: 580px;
		margin-bottom: 30px;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
	}

	&__text {
		max-width: 450px;
		font-size: 20px;
		font-weight: 400;
	}

	&__bottom {
		margin-top: auto;
	}

	&__address {
		position: relative;
		display: inline-block;
		padding-right: 25px;
		font-size: 20px;
		font-weight: 400;
		line-height: 18px;

		&::after {
			content: "";
			position: absolute;
			display: block;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 17px;
			height: 5px;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAFCAYAAACjKgd3AAAASUlEQVQYlZ3QsQ2AIABE0YdhEgrW0NFkMnEvEmkwMXZwzVX3f3KhpWwyFedosM0SsOMakANCS/lZAH1TIsLk6JVWFNS4YL79PunJqA0VVjIdgwAAAABJRU5ErkJggg==);
		}
	}

	&__map {
		height: 485px;
	}

	@media (max-width: $screen-md) {
		&__blocks {
			flex-wrap: wrap
		}

		&__block {
			width: 100%;
		}

		&__map {
			height: 315px;
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {
		&__item {
			height: 485px;
		}
	}

	@media (max-width: $screen-xs-max) {

		&__item{
			padding-left: 5%;
			padding-right: 5%;
		}

		&__text {
			margin-bottom: 20px;
		}
	}
}