:root {
	--hamburger-color: #fff;
	--hamburger-width: 32px;
	--hamburger-height: 18px;
	--hamburger-height-line: 2px;
}

.hamburger {
	position: relative;
	display: inline-block;
	width: var(--hamburger-width);
	height: var(--hamburger-height);
	border: none;
	border-radius: 0;
	background: none;
	color: #fff;
	cursor: pointer;
	padding: 1em;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out;
	font-size: 0.875em;

	&:focus {
		outline: none;

	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: var(--hamburger-height-line);
		width: 100%;
		top: calc(var(--hamburger-height) / 2);
		left: 0;
		background-color: var(--hamburger-color);
		transition: all 0.3s;
	}
	&::after {
		box-shadow: 0 calc(var(--hamburger-height) / 2) 0 0 var(--hamburger-color),
		0 calc(var(--hamburger-height) / -2) 0 0 var(--hamburger-color);
	}

	/* Text meant only for screen readers. */
	&__screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	&.opened {
		z-index: 11;
		&::after {
			transform: rotate(45deg);
			box-shadow: none;
		}
		&::before {
			transform: rotate(-45deg);
		}
	}

	@media (max-width: $screen-md) {
		margin-left: auto;

		&.opened {
			transform: translateX(400px);
			transition: .3s;
		}

	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {

	}

	@media (max-width: $screen-xs-max) {
		&.opened {
			transform: translateX(400px);
			transition: .3s;
		}
	}

}

