.wrap {

	@media (max-width: $screen-md) {

		transition: .3s;

		&.active {
			transform: translateX(-400px);
			transition: .3s;
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {

	}

	@media (max-width: $screen-xs-max) {

		transition: .3s;

		&.active {
			transform: translateX(-400px);
			transition: .3s;
		}
	}

}