.advantages {
	padding: 70px 0;
	background-color: #fafafa;

	&__row {
		display: flex;
	}

	&__col {
		width: 33.33%;
	}

	&__item {
		text-align: center;
		margin-bottom: 70px;
	}

	&__image {
		position: relative;
		margin-bottom: 15px;
		min-height: 170px;
	}

	&__number {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: #fff;
		font-size: 72px;
		font-weight: 400;
		line-height: 30px;
		text-transform: uppercase;
	}

	&__title {
		margin-bottom: 15px;
		color: #1e262c;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
	}

	&__text {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;
		color: #56595b;
		line-height: 24px;

		b {
			color: #000;
			font-weight: 500;
		}
	}

	@media (max-width: $screen-md) {


		&__row {
			flex-wrap: wrap;
		}

		&__col{
			width: 100%;
		}

		&__item{
			display: flex;
		}

		&__image{
			max-width: 116px;
			min-height: initial;
		}

		&__desc{
			text-align: left;
		}

		&__number{
			font-size: 48px;

			&_third{
				top: 40%;
			}
		}
	}

	@media (max-width: $screen-md) and (min-width: $screen-sm) {
		padding: 50px 0;

		&__image{
			margin: 0 24px;
			margin-right: 60px;
		}

		.title{
			margin-bottom: 63px;

			&__promo{
				margin-bottom: 19px;
			}

		}

		&__item{
			margin-bottom: 52px;
		}
	}

	@media (max-width: $screen-xs-max) {
		padding: 30px 0;

		&__item{
			flex-direction: column;
			margin-bottom: 40px;
		}

		&__text{
			max-width: initial;
			padding-left: 0;
			padding-right: 0;
		}

		&__image{

			margin: 0;
		}
	}

}